.contact-container {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 50px;
  border: none;
  /* transform: translateY(100%); /* Initially, translate it below the viewport */
  /* transition: transform 0.5s;  */
}
.contact-container h2 {
  position: relative;
  color: #006fbe;
  font-size: x-large;
  font-weight: bold;
}

.contact-container h2 span {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.contact-container h2 span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%; /* Start from the middle */
  background-color: #006fbe;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%); /* Center the line */
  transform-origin: 50% 50%;
}

.contact-container h2 span:hover::before {
  width: 100%;
  left: 0; /* Expand to both ends */
  transform: translateX(0);
}

.contact .info {
  border-top: 3px solid #006fbe;
  border-bottom: 3px solid #006fbe;
  padding: 30px;
  border-radius: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  opacity: 0; /* Initially, make it invisible */
  transform: translateX(-50%); /* Initially, translate it to the left */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Slower and smoother transition */
}
.contact .info.open {
  opacity: 1; /* Make it visible */
  transform: translateX(0); /* Slide in from the left */
}
.contact .info i {
  font-size: 20px;
  color: #006fbe;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #606e7a;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #95a0ab;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #006fbe;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #006fbe;
  color: #fff;
}

.contact .contactus-form {
  width: 100%;
  border-top: 3px solid #006fbe;
  border-bottom: 3px solid #006fbe;
  border-radius: 30px;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  opacity: 0; /* Initially, make it invisible */
  transform: translateX(50%); /* Initially, translate it to the right */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Slower and smoother transition */
}
.contact .contactus-form.open {
  opacity: 1; /* Make it visible */
  transform: translateX(0); /* Slide in from the right */
}
.contact .contactus-form .form-group {
  padding-bottom: 8px;
}

.contact .contactus-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .contactus-form .error-message br + br {
  margin-top: 25px;
}

.contact .contactus-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .contactus-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .contactus-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .contactus-form input,
.contact .contactus-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .contactus-form input {
  height: 44px;
}

.contact .contactus-form textarea {
  padding: 10px 12px;
}

.contact .contactus-form button[type="submit"] {
  background: #006fbe;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .contactus-form button[type="submit"]:hover {
  background: #4d93ef;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.scale-in-hor-right {
  -webkit-animation: scale-in-hor-right 1s ease-out both;
  animation: scale-in-hor-right 1s ease-out both;
}
.scale-in-hor-left {
  -webkit-animation: scale-in-hor-left 1s ease-out both;
  animation: scale-in-hor-left 1s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-10-20 11:49:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-10-20 11:52:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
}
